html, .x-fullscreen {
  background-color: #fff;
}
.painting {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

.asteroid { background-image: url('http://src.sencha.io/http://sencha-carousel.heroku.com/images/paintings/asteroid.jpg'); }
.template { background-image: url('http://src.sencha.io/http://sencha-carousel.heroku.com/images/paintings/template.jpg'); }
.standing { background-image: url('http://src.sencha.io/http://sencha-carousel.heroku.com/images/paintings/standing.jpg'); }
.sitting  { background-image: url('http://src.sencha.io/http://sencha-carousel.heroku.com/images/paintings/sitting.jpg'); }
.erect    { background-image: url('http://src.sencha.io/http://sencha-carousel.heroku.com/images/paintings/erect.jpg'); }
